<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf实例</title>
</head>
<body>
<div>[[${html}]]  [(${html})]</div>
<b>th:text</b><span th:text="${html}"></span>
<div th:utext="${html}"></div>
<div th:text="|name:${user.name}  role:${user.roles[0]}|"></div>
<hr/>
*{}
<ul th:object="${user}">
    <!--<li th:text="*{name}"></li>-->
    <li th:text="${user.roles[0]}"></li>
</ul>
<hr/>
内置对象
<div th:text="${param.size()}">param.size()</div>
<div th:text="${param.text}">param.text</div>
<br/>
<div th:each="role:${user.roles}">
    <span th:text="${role.name}"></span>
</div>
<table cellpadding="10" border="1" cellspacing="0">
    <tr>
        <td>th:text</td>
        <td>会转</td>
        <td><span th:text="${html}"></span></td>
    </tr>
</table>
</body>
</html>